@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@font-face {
  font-family: Gilroy Light;
  src: url(../fonts/Gilroy-Light.otf);
}
@font-face {
  font-family: Gilroy ExtraBold;
  src: url(../fonts/Gilroy-ExtraBold.otf);
}
h1 {
  color: #02014f;
  letter-spacing: 0.4px;
  font-size: 60px;
  font-family: "Gilroy ExtraBold";
  text-align: left;
  vertical-align: middle;
}
h3 {
  font-family: "Gilroy Light";
  font-size: 40px;
  letter-spacing: 2px;
  color: #02014f;
  text-align: center;
  vertical-align: middle;
}
h4 {
  font-family: "Gilroy ExtraBold";
  font-size: 30px;
  letter-spacing: 0.2;
  color: #02014f;
  text-align: left;
  vertical-align: middle;
}
h5 {
  font-family: "Gilroy ExtraBold";
  font-size: 20px;
  letter-spacing: 0.13px;
  color: #02014f;
  vertical-align: middle;
}
p{
  font-family: Roboto;
  font-weight: 300;
  font-size: 18px;
  color: #02014f;
  text-align: left;
  vertical-align: top;
}
.nav-link {
  font-family: Roboto;
  font-weight: 400;
  font-size: 1rem;
  color: #02014f !important;
  text-align: center;
}
.navbar.navbar-light .breadcrumb .nav-item.active > .nav-link,
.navbar.navbar-light .navbar-nav .nav-item.active > .nav-link {
  background-color: initial;
  font-weight: 500;
}
.learn-more {
  color: white !important;
  background-color: #5cc9ca;
  font-family: "Gilroy Light";
  font-size: 0.75em;
  border-radius: 1.3125rem;
  padding-left: 1.875rem !important;
  padding-right: 1.875rem !important;
  letter-spacing: 0.041875rem;
  text-transform: uppercase;
  text-align: center;
}
.main-learn {
  color: white;
  background-color: #200093;
  font-family: "Gilroy Light";
  font-size: 16px;
  letter-spacing: 0.888889;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 26px;
  padding-right: 26px;
  border-radius: 20px;
  text-align: center;
  vertical-align: top;
}
.main-learn:hover {
  color:white;
  text-decoration: underline;
}
.section {
  margin-top: 131px;
}
.icons-text {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.11;
  color: #02014f;
  vertical-align: top;
}
.circle {
  background-color: rgba(19,201,202,0.2) !important;
  height: 63px;
  width: 63px;
  border-radius: 50%;
  margin: 0 auto;
}
.alignment {
  height: 33px;
  width: 33px;
  margin-top:15px;
}
.link {
  color: #5cc9ca;
  font-family: Roboto;
  font-weight:300;
  text-decoration: underline;
}
.link:hover {
  color:#5cc9ca;
  text-decoration: underline;
}
.dark-blue {
  background-color: #02014f;
}
.contact {
  color: #5cc9ca;
}
.contact-head {
  font-family: "Gilroy Light";
  font-size: 20px;
  letter-spacing: 0.13;
  color: white;
}
.contact-text {
  font-family: roboto;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.11;
  color: white;
}
.contact-details {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #5cc9ca;
  text-align: left;
  vertical-align: top;
}
.phone-icon {
  transform: rotateY(180deg);
}
.social-links {
  color: #02014f;
}
.footer-heading {
  font-family: Roboto;
  font-weight: 500;
  color: #02014f;
  font-size: 14;
}
.footer-links {
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 1.5;
  color: #02014f !important;
  opacity: 60%;
  text-align: left;
  padding-bottom: 15px !important;
}
footer.page-footer .footer-copyright {
  background-color: initial;
}
.tnc {
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 1.5;
  color: #02014f !important;
  opacity: 60%;
  padding-bottom: 15px !important;
  display: inline;
}
.our-story-image {
  max-height:500px;

}
.their-work {
  max-height: 400px;
}
.progressbar li, .progressbar3 li {
  list-style-type: none;
  width: 25%;
  float: left;
  position: relative;
  text-align: center;
}
.progressbar li:before, .progressbar3 li:before {
  width: 20px;
  height: 20px;
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: #5cc9ca;
}
.progressbar li:after, .progressbar3 li:after {
  width: 100%;
  height: 1px;
  content: '';
  position: absolute;
  background-color: #5cc9ca;
  top: 8px;
  left: -50%;
  z-index: - 1;
}
.progressbar li:first-child:after, .progressbar3 li:first-child:after {
  content: none;
}
.progressbar li.done:before, .progressbar3 li.done:before {
  content: "";
}
.progress-title {
  font-family: "Gilroy ExtraBold";
  color: #5cc9ca;
  font-size:24px;
  line-height:1;
}
.progress-text {
  font-family:Roboto;
  font-weight:300;
  font-size: 16px;
  color: #02014f;
  text-align:center;
}
.btn {
  color: white;
  background-color: #5cc9ca;
  font-family: "Gilroy Light";
  font-size: 16px;
  letter-spacing: 0.888889;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 26px;
  padding-right: 26px;
  border-radius: 20px;
  text-align: center;
  vertical-align: top;
}
.btn:hover {
  color:white;
  text-decoration:underline;
}
.storyy
{
    height:70%;
}
/* Teams page */
.profile {
 
  border-radius: 50%;
  height: 250px;
  width: 250px;
}
.team-social
{
    text-align: center;
    font-size: 25px;
     color: #02014f;
}
.curved-corner
{
    background-color: #02014f;
    border-radius: 0 10px 0 0; 
    color:white!important;
    height: 50%;
    margin-top: 5.5rem;
}
.list-elements
{
    color:#02014f;
   font-family:Roboto;
}
.emr-heading
{
    font-family: "Gilroy ExtraBold";
  font-size: 19px;
  letter-spacing: 0.13px;
  color: #02014f;
  vertical-align: middle;
}
.team-social
{
    font-size: 20px;
}
.contact-email
{
    color: #5cc9ca;
    font-family:Roboto;
}
.contact-email:hover
{
    color: #5cc9ca;
    font-family:Roboto;
     text-decoration: underline;
}
.form-control:focus {
  border-color: #5cc9ca;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #5cc9ca;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-family:Roboto;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control:hover {
font-family:Roboto;
}

.after-submit
{
    display: none;
    visibility: hidden;
}

.thanks_msg
{
    font-family: Roboto;
    font-weight: 400;
    color: #02014f !important;
    text-align: center;
}